body {
	background-image: url("bg.jpg");
	color: white;
	text-align: center;
	font-size: 5em;
	font-family: 'Roboto Slab', serif;

}

.intro-text{
	margin: auto;
	width: 50%;
	padding: 10px;
	background: rgba(0, 0, 0, 0.5);
	
}